@charset "UTF-8";

html, body
{
	width: 100%;
	height: 100%;
}

.test
{
	width: 100%;
	height: 100%;
	position: relative;
}

.test_light_0
{
	background: yellow;
}

.test_light_1
{
	background: cyan;
}

.test_light_2
{
	background: orange;
}

.test_light_3
{
	background: black;
}





/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}